@import "compass";

@include font-face("myFont", font-files("font.ttf"));

$bounceDuration: 500ms;
$btnOpacity: 0.6;
$axisBackground: #000;
$axisBorderRadius: 35%;

.hide {
	display: none!important;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0;
	background: #4096ee;
}

#phonepad {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #111;
	background: radial-gradient(ellipse at center, #333 0%, #111 100%);
	border-radius: 60px;
}

#axis, #buttons {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 0px;
	font-size: 0;
}

#axis {
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 0px 14px 6px rgba(50, 50, 50, 0.75);

	div {
		display: inline-block;
		height: 33%;
		width: 33%;
		margin: 0;
		opacity: $btnOpacity;

		&.active {
			opacity: 1.0;
		}
	}

	#axisN {
		width: 34%;
		background: radial-gradient(ellipse at center, #333 10%, #000 100%);
		border-radius: $axisBorderRadius $axisBorderRadius 0px 0px;
		box-shadow: inset 0px 0px 14px 6px rgba(50, 50, 50, 0.75);
	}

	#axisS {
		width: 34%;
		background: radial-gradient(ellipse at center, #333 10%, #000 100%);
		border-radius: 0px 0px $axisBorderRadius $axisBorderRadius;
		box-shadow: inset 0px 0px 14px 6px rgba(50, 50, 50, 0.75);
	}

	#axisE {
		height: 34%;
		background: radial-gradient(ellipse at center, #333 10%, #000 100%);
		border-radius: 0px $axisBorderRadius $axisBorderRadius 0px;
		box-shadow: inset 0px 0px 14px 6px rgba(50, 50, 50, 0.75);
	}

	#axisW {
		height: 34%;
		background: radial-gradient(ellipse at center, #333 10%, #000 100%);
		border-radius: $axisBorderRadius 0px 0px $axisBorderRadius;
		box-shadow: inset 0px 0px 14px 6px rgba(50, 50, 50, 0.75);
	}

	#axisC {
		height: 34%;
		width: 34%;
		background: radial-gradient(ellipse at center, #333 10%, #000 100%);
		box-shadow: inset 0px 0px 7px 3px rgba(50, 50, 50, 0.75);
	}
}

#buttons {
	left: 60%;

	div {
		display: inline-block;
		height: 33%;
		width: 33%;
		opacity: $btnOpacity;
		border-radius: 100%;
		font-size: 3rem;
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		text-align: center;
		box-shadow: inset 0px 0px 12px 6px rgba(150, 150, 150, 0.75);

		&.active {
			opacity: 1.0;
		}
	}

	#btnY {
		margin: 0px 33%;
		background: radial-gradient(ellipse at center, yellow 10%, #000 100%);
	}

	#btnX {
		background: radial-gradient(ellipse at center, blue 10%, #000 100%);
	}

	#btnB {
		margin-left: 34%;
		background: radial-gradient(ellipse at center, red 10%, #000 100%);
	}

	#btnA {
		margin-left: 33%;
		background: radial-gradient(ellipse at center, green 10%, #000 100%);
	}
}


#joinGame {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 80px 0px;

	div {
		height: 30%;
		margin: 0px;

		input {
			font-family: 'myFont';
			height: 60%;
			width: 50%;
			padding-left: 2%;
			font-size: 2em;
			margin-right: 2%;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			background: radial-gradient(ellipse at center, #000 10%, #222 100%);
			border-radius: 20px;
			color: #eee;
		}

		button {
			font-family: 'myFont';
			height: 60%;
			width: 20%;
			font-size: 2em;
			box-shadow: inset 0px 0px 12px 6px rgba(150, 150, 150, 0.95);
			background: radial-gradient(ellipse at center, green 10%, #000 100%);
			border: none;
			border-radius: 20px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			color: #ccc;
			text-shadow: 2px 2px black;
		}

		#rejoinBtn {
			width: 72%;
		}

	}
}


.bounce {
	animation: bounce $bounceDuration alternate infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.95);
    }
}
