@import "compass";

$bounceDuration: 500ms;
$btnOpacity: 0.5;
$axisBackground: #000;
$axisBackgroundActive: #888;
$bgBorderRadius: 15px;
$bgAxisButton: #555;
$bgButton: #444;

.phonepad {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #333;
}

.axis, .buttons {
	display: inline-block;
	top: 0px;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 0px;
	font-size: 0;
}

.axis {

	div {
		display: inline-block;
		height: 33%;
		width: 33%;
		margin: 0;
		opacity: $btnOpacity;

		&.active {
			background: $axisBackgroundActive;
		}
	}

	.axisN {
		background: $axisBackground;
		width: 34%;
		box-shadow: inset 0px 2px 10px 6px $bgAxisButton;
		border-radius: $bgBorderRadius $bgBorderRadius 0px 0px;
	}

	.axisS {
		background: $axisBackground;
		width: 34%;
		box-shadow: inset 0px -2px 10px 6px $bgAxisButton;
		border-radius: 0px 0px $bgBorderRadius $bgBorderRadius;
	}

	.axisE {
		background: $axisBackground;
		height: 34%;
		box-shadow: inset -2px 0px 10px 6px $bgAxisButton;
		border-radius: 0px $bgBorderRadius $bgBorderRadius 0px;
	}

	.axisW {
		background: $axisBackground;
		height: 34%;
		box-shadow: inset 2px 0px 10px 6px $bgAxisButton;
		border-radius: $bgBorderRadius 0px 0px $bgBorderRadius;
	}

	.axisC {
		background: $axisBackground;
		height: 34%;
		box-shadow: inset 0px 0px 10px 6px $bgAxisButton;
		height: 34%;
		width: 34%;
	}
}

.buttons {
	margin-left: 18%;

	div {
		display: inline-block;
		height: 33%;
		width: 33%;
		user-select: none;
		background: $bgButton;
		border-radius: $bgBorderRadius;

		span {
			display: block;
			opacity: $btnOpacity;
			border-radius: 100%;
			position: relative;
			top: 5%;
			left: 5%;
			height: 90%;
			width: 90%;
			box-shadow: inset 0px 0px 20px 10px #000;
		}

		&.active > span {
			opacity: 1.0;
		}
	}

	.btnY {
		margin: 0px 33%;

		span {
			background: yellow;
		}
	}

	.btnX {

		span {
			background: blue;
		}
	}

	.btnB {
		margin-left: 34%;

		span {
			background: red;
		}
	}

	.btnA {
		margin-left: 33%;

		span {
			background: green;
		}
	}
}
