.phonepad {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #333;
  top: 0;
  left: 0;
}

.axis, .buttons {
	display: inline-block;
	top: 0px;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 0px;
	font-size: 0;
}

.axis div {
	display: inline-block;
	height: 33%;
	width: 33%;
	margin: 0;
	opacity: 0.5;
}

.axis div.active {
	background: #888;
}

.axisN {
	background: #000;
	width: 34%;
	box-shadow: inset 0px 2px 10px 6px #555;
	border-radius: 15px 15px 0px 0px;
}

.axisS {
	background: #000;
	width: 34%;
	box-shadow: inset 0px -2px 10px 6px #555;
	border-radius: 0px 0px 15px 15px;
}

.axisE {
	background: #000;
	height: 34%;
	box-shadow: inset -2px 0px 10px 6px #555;
	border-radius: 0px 15px 15px 0px;
}

.axisW {
	background: #000;
	height: 34%;
	box-shadow: inset 2px 0px 10px 6px #555;
	border-radius: 15px 0px 0px 15px;
}

.axisC {
	background: #000;
	height: 34%;
	box-shadow: inset 0px 0px 10px 6px #555;
	height: 34%;
	width: 34%;
}

.buttons {
	margin-left: 18%;
}

.buttons div {
	display: inline-block;
	height: 33%;
	width: 33%;
	user-select: none;
	background: #444;
	border-radius: 15px;
}

.buttons div span {
	display: block;
	opacity: 0.5;
	border-radius: 100%;
	position: relative;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;
	box-shadow: inset 0px 0px 20px 10px #000;
}

.buttons div span.active > span {
	opacity: 1.0;
}

.btnY {
	margin: 0px 33%;
}

.btnY	span {
	background: yellow;
}

.btnX span {
	background: blue;
}

.btnB {
	margin-left: 34%;
}

.btnB	span {
	background: red;
}

.btnA {
	margin-left: 33%;
}

.btnA span {
	background: green;
}
